body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgray;
}

.header{
    display: flex;
    justify-content: center;
    align-content: center;
    padding : 100px 30px;
    background-color:lightgray;
    font-size: 24px;
    position: sticky;
    top: 0;
}

.aside{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: darkcyan;
    gap: 20px;
}

.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-style: 10px;

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.5rem;
}

.footer img {
     max-height: 40px;   
    width: auto
}

/************Larger screen ----------------*/
@media screen and (min-width:768px){
    .container {
        display:flex;
        flex-direction: row;
        min-height: 60vh;
    }
    .aside {
        flex: 1;
    }
    .articles{
        flex:3;
    }
    .header,
    .footer {
        width:100%;
    }
}

